<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Recipe Name</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-outline-primary">To Shopping List</button>
    <button type="button" class="btn btn-outline-secondary">Edit Recipe</button>
    <button type="button" class="btn btn-outline-success">Delete Recipe</button>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p> Description </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Ingredients</p>
    </div>
</div>
